In [1]:
# memuat numpy sebagai np
import numpy as np
 
# memuat pandas sebagai pd
import pandas as pd

# memuat data bernama 'dataset_statistics.csv' dan memasukkan hasilnya ke dalam 'raw_data'
raw_data = pd.read_csv("dataset_statistic.csv", sep=';')

In [2]:
# mengambil hanya data untuk produk 'A'
produk_A = raw_data[raw_data['Produk'] == 'A']
 
# menghitung rerata pendapatan menggunakan method .mean pada objek pandas DataFrame
print (produk_A['Pendapatan'].mean())
 
# menghitung rerata pendapatan menggunakan method .mean pada objek pandas DataFrame dengan numpy
print (np.mean(produk_A['Pendapatan']))

550000.0
550000.0

In [6]:
print(raw_data)
# Hitung median dari pendapatan menggunakan pandas

print(produk_A['Pendapatan'].median())
 
# Hitung median dari pendapatan menggunakan numpy
print(np.median(produk_A['Pendapatan']))

    ID Pelanggan     Nama  Jenis Kelamin  Pendapatan Produk   Harga  Jumlah   \
0              1     Arif              1      600000      A  100000        4
1              2     Dian              2     1200000      D  250000        4
2              3    Dinda              2      950000      D  250000        3
3              4    Fajar              1      400000      A  100000        2
4              5      Ika              2     1200000      D  250000        4
5              6    Ilham              1      800000      B  150000        4
6              7    Indra              1      950000      B  150000        5
7              8  Kartika              2     1100000      E  300000        3
8              9  Lestari              2      800000      E  300000        2
9             10      Lia              2     1700000      E  300000        5
10            11    Maria              2      600000      A  100000        4
11            12     Maya              2      950000      B  150000        5
12            13     Mila              2      400000      C  200000        1
13            14    Nurul              2     6450000      D  250000        5
14            15    Retno              2     1000000      C  200000        4
15            16     Rini              2      800000      B  150000        4
16            17    Rizki              1     1200000      C  200000        5
17            18     Sari              2      700000      D  250000        2
18            19     Tyas              2      600000      A  100000        4
19            20    Wahyu              1      800000      C  200000        3

      Total  Tingkat Kepuasan
0    400000                 2
1   1000000                 2
2    750000                 3
3    200000                 3
4   1000000                 2
5    600000                 3
6    750000                 1
7    900000                 3
8    600000                 1
9   1500000                 1
10   400000                 3
11   750000                 3
12   200000                 2
13  1250000                 1
14   800000                 2
15   600000                 1
16  1000000                 3
17   500000                 1
18   400000                 3
19   600000                 1
600000.0
600000.0

In [7]:
# Melihat jumlah dari masing-masing produk
print (raw_data['Produk'].value_counts())

D    5
B    4
A    4
C    4
E    3
Name: Produk, dtype: int64

In [8]:
# mencari median atau 50% dari data menggunakan pandas
print(raw_data['Pendapatan'].quantile(q = 0.5))
 
# mencari median atau 50% dari data menggunakan pandas
print(np.quantile(raw_data['Pendapatan'], q=0.5))

875000.0
875000.0

In [9]:
# menghitung rerata dan median 'Pendapatan' dan 'Harga'
print(raw_data[['Pendapatan' , 'Harga']].agg([np.mean, np.median]))
 
# menghitung rerata dan median Pendapatan dan Harga dari tiap produk
print(raw_data[['Pendapatan', 'Harga', 'Produk']].groupby('Produk').agg([np.mean, np.median]))

        Pendapatan     Harga
mean     1160000.0  197500.0
median    875000.0  200000.0
       Pendapatan            Harga
             mean   median    mean  median
Produk
A          550000   600000  100000  100000
B          875000   875000  150000  150000
C          850000   900000  200000  200000
D         2100000  1200000  250000  250000
E         1200000  1100000  300000  300000